<article>
    <header>
        <h4>Search for foods</h4>
        <!--Search form-->
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <aside class="col-sm-6 col-xs-6">
                <form name="listCtrl.listCtrlForm" novalidate ng-submit="listCtrl.search(listCtrl.food)">
                    <div class="form-group">
                        <label for="food">Search for food</label>
                        <input type="text" class="form-control" id="food" name="food" ng-model="listCtrl.food" required/>

                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <button type="reset" class="btn btn-danger">Cancel</button>
                    </div>
                </form>
            </aside>
            <aside class="col-sm-6 col-xs-6"></aside>
        </div>
    </header>
    <h1>{{listCtrl.gridApi}}</h1>
    <section>
        <!--search results-->
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12" ng-if="listCtrl.searchGridOpt.data.length > 0">
            <div id="searchGridOpt" ui-grid="listCtrl.searchGridOpt" ui-grid-resize-columns ui-grid-auto-resize ui-grid-move-columns ui-grid-pagination ui-grid-selection ui-grid-pinning ui-grid-edit ui-grid-row-edit class="grid"></div>
        </div>
    </section>
    <footer>
        <div class="pull-right" ng-if="listCtrl.searchGridOpt.data.length > 0" style="margin-top:20px">
            <button class="btn btn-primary" ng-click="listCtrl.showBasicReport()"
                    ng-disabled="gridApi.selection.getSelectedCount() !== 1">Basic Report</button>
        </div>
    </footer>
</article>


